<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <form action="/foods" method="POST">
        <!-- Drink Name -->
        <input type="text" name="name" placeholder="Item Name" required>
    
        <!-- Ingredients  -->
        <div id="ingredients-container">
            <div class="ingredient">
                <input type="text" name="ingredients[0][name]" placeholder="Ingredient Name" required>
                <input type="text" name="ingredients[0][amount]" placeholder="Amount" required>
                <input type="text" name="ingredients[0][unit]" placeholder="Unit (e.g., oz, tbsp)">
            </div>
        </div>
        <button type="button" onclick="addIngredient()">Add Another Ingredient</button>
    
        <!-- Instructions -->
        <textarea name="instructions" placeholder="Instructions" required></textarea>
    
        <!-- Submit Button -->
        <button type="submit">Add Item</button>
    </form>
</body>
</html>